@model CapstoneProject.Models.LatLngViewModel

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<p>
    <img src="~/Images/Screenshot.png" alt="doctor" width="1200" height="500" style="float:none">
</p>
<div id='map' style='height:500px; width:100%' />

<script src="https://maps.googleapis.com/maps/api/js"></script>


<script>
   
    var map = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng(@ViewBag.Lat, @ViewBag.Lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoom: 12
    });
    var marker;
    @foreach (var lat in Model.Lat)
    {
        foreach (var lng in Model.Lng)
        {
            <text> marker = new google.maps.Marker({
                    position: new google.maps.LatLng(@lat, @lng),
                    label: "H",
                    map: map
    }); marker.setMap(map); </text>
            Model.Lng.RemoveAt(0);
            break;
        };
    };


    var waqiMapOverlay = new google.maps.ImageMapType({
        getTileUrl: function (coord, zoom) {
            return 'https://tiles.aqicn.org/tiles/usepa-aqi/' + zoom + "/" + coord.x + "/" + coord.y + ".png?token=5422120c5e5008629c1d2e647e006b1a9d124514";
        },
        name: "Air  Quality",
    });

    map.overlayMapTypes.insertAt(0, waqiMapOverlay);
      

</script>


