@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    According to the Centers for Disease Control and Prevention (CDC), 1 in 13 people have asthma. More than 25 million Americans have asthma. This is 7.7 percent of adults and 8.4 percent of children.
    Air pollution is one of the biggest asthma attack triggers. A study of young campers with moderate to severe asthma showed they were 40 percent more likely to have acute asthma episodes on high pollution days than on days with average pollution levels.
</p>
