@{
    ViewBag.Title = "What is Asthma?";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@


<p>
    According to the Centers for Disease Control and Prevention (CDC), 1 in 13 people have asthma. More than <strong>25 million Americans</strong> have asthma. This is <strong>7.7 percent of adults and 8.4 percent 
    of children.</strong> Air pollution is one of the biggest asthma attack triggers. A study of young campers with moderate to severe asthma showed they were 40 percent more likely to have acute asthma episodes 
    on high pollution days than on days with average pollution levels.
</p>

<p>
    Asthma is a chronic disease that affects your airways. Your airways are tubes that carry air in and out of your lungs. If you have asthma, the inside walls of your airways become sore and swollen. That makes 
    them very sensitive, and they may react strongly to things that you are allergic to or find irritating. When your airways react, they get narrower and your lungs get less air.
</p>

<p> Symptoms of asthma include:</p>

<ul>
    <li>Wheezing</li>
    <li>Coughing, especially early in the morning or at night</li>
    <li>Chest tightness</li>
    <li>Shortness of breath</li>
</ul>
<p>Not all people who have asthma have these symptoms. Having these symptoms doesn't always mean that you have asthma. Your doctor will diagnose asthma based on lung function tests, your medical history, and a physical exam. You may also have allergy tests.</p>

<p>When your asthma symptoms become worse than usual, it's called an asthma attack. Severe asthma attacks may require emergency care, and they can be fatal.</p>

<p>Asthma is treated with two kinds of medicines: quick-relief medicines to stop asthma symptoms and long-term control medicines to prevent symptoms. </p>

<p>  NIH: National Heart, Lung, and Blood Institute
</p>
