@*@{
    ViewBag.Title = "F";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2><b>Facts & Myths of Asthma</b></h2>
<hr/>
<h3>
    <b>Myth</b>: You only have asthma when you have trouble breathing.<br/>
    <br/>
    <b>Fact</b>: Asthma is a disease that can be very serious and hard to predict. Even without visible
    symptoms, there is underlying inflammation in the airways in people with asthma. Asthma
    does not go away when the symptoms are gone. It is important to keep your asthma in
    control by taking your daily controller medicines and avoiding asthma triggers.</h3>
<hr/>
 <h3>
    <b>Myth</b>: Asthma is all in your mind.<br/>
    <br/>
    <b>Fact</b>: Asthma is real. It takes place in the airways and lungs, not in the mind. Emotions, such
    as stress, crying, yelling or laughing hard, can act as asthma triggers causing already existing
    asthma to flare up or become worse.</h3>
<hr/>
<h3>
    <b>Myth</b>: Asthma symptoms are the same for everyone.<br/>
    <br />
    <b>Fact</b>: Asthma can affect each person differently. One person may show several symptoms,
    such as wheezing, chest tightness, and fatigue, while someone else may only cough. You
    should know what your child’s symptoms are so you can get help quickly.</h3>
<hr/>
<h3> 
    <b>Myth</b>: Children often outgrow their asthma.<br/>
    <br/>
    <b>Fact</b>: Asthma is a life-long disease. A child’s asthma can seem to go away or become less
    serious over time. When children’s lungs grow, the airways expand. This sometimes causes
    asthma symptoms to decrease, but symptoms can return without warning.</h3>
<hr/>
<h3>
    <b>Myth</b>: Steroids used in asthma are dangerous.<br/>
    <br/>
    <b>Fact</b>: The National Institutes of Health (NIH) suggests inhaled corticosteroids (ICS) as
    the preferred treatment for persistent asthma. When used at recommended doses for most
    patients, the benefi ts of ICS outweigh the risks. These steroids are NOT the same as the
    anabolic steroids some athletes use to build muscle.</h3>
<hr/>
<h3>
    <b>Myth</b>: Steroids used in asthma will stunt growth.<br/>
    <br/>
    <b>Fact</b>: Inhaled corticosteroids do not stop children from reaching their full height. Studies
    have shown that children using inhaled corticosteroids will reach normal adult height,
    although it may cause some delays in their growth early on. It is possible that a child who
    suffers from asthma symptoms regularly may experience stunted growth. This is due to the
    fact that a sick child will not grow at the same rate as a well child. It is important to work
    with your child’s doctor and asthma action plan to treat your child’s asthma in the best way.</h3>
<hr/>
<h3> 
    <b>Myth</b>: If your child has asthma, he or she should not play sports or be active.<br/>
    <b>Fact</b>: Sports and other forms of activity are just as important for someone with asthma as
    they are for someone without asthma. It is important to control a child’s asthma and make
    sure they follow the guidelines set by their doctor to take controller medications, as well as
    taking medications before being active. They should also have a current asthma action plan
    from their doctor to help prevent asthma attacks.</h3>
<hr/>
<p>
    <i>Source: Utah Depatemnt of Health, Asthma Program.</i></p>
