@{
    ViewBag.Title = "";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<head>
    <meta charset="utf-8" />
    <title>What is Asthma?</title>
</head>
<body>
    
    <iframe width="1000"
            height="650"
            src="https://www.youtube.com/embed/pZQ46fHFm2A"
            frameborder="0"
            allowfullscreen></iframe>
</body>


<p style="font-size:150%;">
    <b>Asthma</b> is a chronic disease that affects your airways. Your airways are tubes that carry air in and<br/>
    out of your lungs. If you have asthma, the inside walls of your airways become sore and swollen. <br/>
    That makes them very sensitive, and they may react strongly to things that you are allergic to or<br/>
    find irritating. When your airways react, they get narrower and your lungs get less air.
</p>

<p style="font-size:150%;"> <b>Symptoms of asthma include:</b></p>

<ul style="font-size:150%;">
    <li style="font-size:100%;">Wheezing</li>
    <li style="font-size:100%;">Coughing, especially early in the morning or at night</li>
    <li style="font-size:100%;">Chest tightness</li>
    <li style="font-size:100%;">Shortness of breath</li>
</ul>

<p style="font-size:150%;">Not all people who have asthma have these symptoms. Having these symptoms doesn't always<br/>
    mean that you have asthma. Your doctor will diagnose asthma based on lung function tests, your<br/>
    medical history, and a physical exam. You may also have allergy tests.</p>

<p style="font-size:150%;">When your asthma symptoms become worse than usual, it's called an asthma attack. Severe<br/>
    asthma attacks may require emergency care, and they can be fatal.</p>

<p style="font-size:150%;">Asthma is treated with two kinds of medicines: quick-relief medicines to stop asthma symptoms<br/>
    and long-term control medicines to prevent symptoms. </p>

<p style="font-size:150%;">
    According to the Centers for Disease Control and Prevention (CDC), 1 in 13 people have asthma. More<br/>
    than <strong>25 million Americans</strong> have asthma. This is <strong>7.7 percent of adults and 8.4 percent
    of children. </strong> Air pollution is one of the biggest asthma attack triggers. A study of young campers
    with moderate to severe asthma showed they were 40 percent more likely to have acute asthma episodes on high pollution days<br/>
    than on days with average pollution levels.
</p>
<p>
    NIH: National Heart, Lung, and Blood Institute
</p>
