@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>Every Breath You Take</h1>
        <img src="~/Images/lungs.jpg"width="1000"/>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="col-md-4" align="center">
        <h2>Asthma Related News</h2>
        <p><a href="https://www.sciencedaily.com/releases/2019/04/190410210003.htm">Millions of children worldwide develop asthma annually due to traffic-related pollution</a></p>
        <p><a href="https://community.aafa.org/blog/skip-flowers-perfume-and-candy-for-your-valentine-with-asthma-and-allergies?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+asthma-allergy+%28Asthma+and+Allergy+Foundation+of+America%3A+Blog+Posts%29">Skip Flowers, Perfume and Candy for Your Valentine With Asthma and Allergies</a></p>
        <p><a href="https://community.aafa.org/blog/coronavirus-2019-ncov-flu-what-people-with-asthma-need-to-know?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+asthma-allergy+%28Asthma+and+Allergy+Foundation+of+America%3A+Blog+Posts%29">Coronavirus (2019-nCoV): What People With Asthma Need to Know</a></p> 
</div>
<div class="col-md-4" align="center">
        <h2>Helpful Videos & Links</h2>
        <p><a href="https://www.youtube.com/watch?v=tIZdSIKN1Kg&feature=youtu.be&list=UU7f9888CwQq-XmKYRGa7k_g">What is Asthma?</a></p>
        <p><a href="https://www.cdc.gov/asthma/inhaler_video/default.htm">Know How to Use Your Asthma Inhaler</a></p>
        <p><a href="https://www.lung.org/lung-health-and-diseases/lung-disease-lookup/asthma/living-with-asthma/managing-asthma/measuring-your-peak-flow-rate.html">Measuring Your Peak Flow Rate</a></p>
        <p><a href="https://www.epa.gov/asthma/asthma-triggers-gain-control">Asthma Triggers: Gain Control</a></p>
</div>
    @*<div class="col-md-4">
        <h2>Helful Links</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>