@model CapstoneProject.Models.AsthmaActionPlan


@{
    Layout = null;
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px auto;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-1i2r {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-94ls {
            background-color: #cb0000;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-hw1o {
            background-color: #009901;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-eix7 {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-1jni {
            background-color: #cb0000;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
</style>
<table class="tg">
    <tr>
        <th class="tg-c3ow" colspan="14"><span style="font-weight:bold">ASTHMA ACTION PLAN</span></th>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Name:</td>
        <td class="tg-0pky" colspan="7">Date:</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Doctor's Name: </td>
        <td class="tg-0pky" colspan="7">Doctor's Phone:</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="14">Doctor's Address:</td>
    </tr>
    <tr>
        <td class="tg-hw1o" colspan="14">GREEN ZONE : DOING WELL</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="2">You have <span style="text-decoration:underline">all</span> these:<br>Breathing is good.<br>No cough/wheezing.<br>Sleep through night.<br>Can work/play.</td>
        <td class="tg-0pky" colspan="7">Use these daily preventive<br>anti-inflammatory medicine.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">Medicine: @Html.TextBoxFor(m=>m.MedicineName)</td>
        <td class="tg-0pky" colspan="2">Dosage: @Html.TextBoxFor(m => m.MedicineDosage)</td>
        <td class="tg-0pky" colspan="2">Schedule:</td>
    </tr>
    <tr>
        <td class="tg-eix7" colspan="14">YELLOW ZONE : CAUTION</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">You have <span style="text-decoration:underline">any</span> of them:<br>First signs of cold.<br>Exposure to known Triggers.</td>
        <td class="tg-0pky" colspan="7">Continue with GREEN ZONE medicine<br>and ADD</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">Medicine:</td>
        <td class="tg-0pky" colspan="2">Dosage:</td>
        <td class="tg-0pky" colspan="2">Schedule:</td>
    </tr>
    <tr>
        <td class="tg-1i2r" colspan="7">CALL YOUR PRIMARY CARE DOCTOR</td>
    </tr>
    <tr>
        <td class="tg-1jni" colspan="14">RED ZONE : MEDICAL ALERT</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">Your Asthma is getting worse:<br>Medicine not helping.<br>Breathing is hard and fast.<br>Wheezing.<br></td>
        <td class="tg-0pky" colspan="7">Take these Medicines and call your<br>doctor NOW.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">Medicine:</td>
        <td class="tg-0pky" colspan="2">Dosage:</td>
        <td class="tg-0pky" colspan="2">Schedule:</td>
    </tr>
    <tr>
        <td class="tg-94ls" colspan="7">GET HELP FROM A DOCTOR NOW!<br>DO NOT WAIT!</td>
    </tr>
</table>
